@import '../index.scss';

#container {
	display: flex;
	flex-direction: column;

	#machine-info {
		background-color: #fff;
		text-align: center;
		border: 1px solid $borderColor;
		margin: 10px;
		padding: 3px;

		abbr {
			text-decoration: underline;
		}
	}

	.button-container {
		padding: 10px;
		display: flex;
		justify-content: center;
	}
}
