@import url('https://fonts.googleapis.com/css?family=Quicksand');

$blue: #0faddc;
$borderColor: #eeeeee;
$darkBackground: #263238;
$background: #37474F;
$lighterBackground: #455A64;
$borderColor: rgb(75, 90, 98);
$fontColor: #CFD8DC;

body,
html {
    font-family: 'Quicksand', sans-serif;
    background-color: $darkBackground;
}
