@import '../../index.scss';

.info-container {
	margin: 10px;
	width: 25%;

	.title {
		color: $fontColor;
		padding: 3px;
		width: 30%;
		font-size: 20px;
		margin-left: 5%;
		background-color: $background;
	}

	.info-text {
		border: 1px solid $borderColor;
		padding: 5px;
		background-color: $lighterBackground;
		border: 1px solid $borderColor;
		color: $fontColor;
	}
}
